.login-button {
    max-height: 40px;
    display: inline-block;
    border: 1px solid white;
    padding: 6px 25px;
    background-color: var(--color-primary);
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.1s ease;
    color: white;
}

.login-button:hover {
    background-color: #b10f44;
}

.login-button:active {
    background-color: #8c0c36;
}


.create-account-button {
    display: none;
}

@media (min-width: 950px) {
    .create-account-button {
        max-height: 40px;
        display: inline-block;
        border: 1px solid white;
        padding: 6px 20px;
        background-color: white;
        color: black;
        font-weight: bold;
        border-radius: 6px;
        cursor: pointer;
    }
}