.description-points {
    display: flex;
}

.cost-info {
    display: flex;
    align-items: flex-end;
    padding-left: 3px;
}

.description-points > svg {
    margin-right: 0.1rem;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 93%;
}

.card-footer {
    margin-top: 0.5rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.card-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.2rem;
}

.responsible-name {
    display: flex;
    align-items: center;
    gap: 8px;
}

.class-info-items {
    display: flex;
    gap: 6px;
    padding: 5px 0;
}

.class-info {
    margin-bottom: 5px;
}

.bold-text {
    font-weight: bold!important;
    text-decoration: underline;
}

.contact-button {
    max-height: 40px;
    display: inline-block;
    border: 1px solid white;
    color: white;
    padding: 6px 15px;
    background-color: var(--color-primary);
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.contact-button:hover {
    background-color: var(--color-primary-hover);
}

.contact-button:active {
    background-color: var(--color-primary-active);
}

@media (min-width: 950px) {
    .card-container.columns {
        grid-template-columns: repeat(2, 1fr);
    }
}