.filters{
    max-width: 200px;
}

.filter-subtitle-font {
    font-weight: bold !important;
}

.filter-title {
    display: flex;
    padding-bottom: 10px;
}

.filter-title > svg {
    margin: auto 0;
}