.board {
    max-width: 1300px;
    margin: 20px auto;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
    overflow: auto;
    padding: 5px 5px 5px 20px;
    margin: 0 auto;
}

#expandable-filter-bar {
    display: block;
}

#filter-bar {
    display: none;
}

@media (min-width: 950px) {
    .card-container.columns {
         grid-template-columns: repeat(2, 1fr);
     }
    #expandable-filter-bar {
        display: none;
    }
    #filter-bar {
        display: block;
    }
}

@media (min-width: 1300px) {
    .card-container.columns {
        grid-template-columns: repeat(3, 1fr);
    }

    #expandable-filter-bar {
        display: none;
    }
    #filter-bar {
        display: block;
    }
}

.services-not-found {
    align-items: center;
    align-content: center;
    grid-column: 1;
}